.optionText {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1 0 0;
  min-width: 0;

  &.isMobile {
    display: block;

    .hintText {
      margin-left: 0;
    }
  }
}

.optionCheck {
  composes: container from '~./CheckInput.css';
  flex: 0 0 0;
}

.optionCheckText {
  margin-top: 7px;
  margin-left: 5px;
  color: $textColor;
  flex: 1 0 0;
}

.hintText {
  @add-mixin truncate;

  margin-left: 15px;
  color: $darkGray;
  font-size: $smallFontSize;
}

.isSelected {
  background-color: #e2e2e2;

  &:hover {
    background-color: #e2e2e2;
  }

  &.isMobile {
    background-color: inherit;

    .iconContainer {
      color: $primaryColor;
    }
  }
}

.isDisabled {
  background-color: #aaa;
}

.isHidden {
  display: none;
}

.isMobile {
  height: 50px;
  border-bottom: 1px solid $borderColor;

  &:last-child {
    border: none;
  }
}
